.login{
	-fx-background-color: linear-gradient(to right, rgb(151, 150, 240), rgb(251, 199, 212));
}

.login-titulo{
	-fx-font-size: 20px;
	-fx-text-fill: #FFF;
}

.login-form-label{
	-fx-font-size: 14px;
	-fx-text-fill: #FFF;
}


.login-form-botao{
	-fx-font-size: 14px;
}